* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-image {
  width: 100%;
}
.match-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ul-tab {
  list-style-type: none;
  display: flex;
  padding: 0px;
}
.tumbnail-img {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.reset-game {
  color: white;
  background-color: #cf60c8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 6px;
}
.trophy-size {
  width: 180px;
}
.game-over {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 30px;
  height: 70vh;
  width: 100%;
}
.your-score {
  color: white;
  font-weight: bold;
  margin-top: 0px;
}
.score-style {
  color: white;
  font-size: larger;
  margin-top: 0px;
  font-weight: bolder;
  font-size: 24px;
}
